*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
}
@keyframes fade {
  0%, 100%{
      opacity:0;
  }
  50%{
      opacity: 1;
  }
}
.container {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    scroll-behavior: smooth;
    height: 100%;
  }
  a:hover{
    color: white;
    text-decoration: underline;
  }
  #part1
{
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25px;
    background-color: rgb(54, 51, 51);
}
.caro {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 10px;
  width: 100%;
}
.caro-text{
  display:inline-block;
  animation: fade 4s linear infinite;
}

#info
{
    margin-top: 80px;
    display: flex; /* Make the container a flexbox */
    align-items: center; /* Align items vertically center */
    gap: 200px; /* Space between text and image */
    text-align: right;
    padding: 0px;
    color: white;
    margin-bottom: 50px;
}
  .header-row {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
  }

  .header-row .box {
    padding: 10px;
  }

  .header-row li {
    display: inline;
    padding: 5px;
    font-size: larger;
  }

  .header-row a {
    text-decoration: none;
  }

  .header-row a:hover {
    text-decoration: underline;
  }

  .row {
    padding: 200px;
    height: 80%;
  }
  .b{
    height: 60px;
    margin: 10px;
    padding: 15px;
  }
  h1{
    color: white;
    text-align: left;
  }
 #projects{
  height: 300px;
  padding: 50px;
  margin: 0px;
 }
 #Skills{
  padding: 50px;
 }
 #About{
  padding: 50px;
 }
 #Contact{
  padding: 50px;
 }
 .box{
  height: 180px;
  border: 2px solid black;
  transform: translateY(-15px);
 }
  .row .box {
    padding: 10px;
    margin: 8px;
  }

  .footer {
    padding: 10px;
    margin: 0px;
    background-color: black;
    color: white;
    font-size: large;
    text-align: center;
  }

  button {
    background-color: teal;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5%;
  }
  button:hover{
    background-color: black;
  }